<container>
  <h1>AN APP THAT GRANTS WISHES</h1>
  <h2>Pick a button, any button.</h2>
  <button type="button" name="button"></button>
  <button type="button" name="button"></button>
  <button type="button" name="button"></button>
</container>
<p>Welcome to {{title}}</p>
