<section>
  <container>
    <h1>AN APP THAT GRANTS WISHES</h1>
    <h2>Pick a button, any button.</h2>
    <div class="buttons">
      <button type="button" name="button">I wish Donald Trump would just go away!</button>
      <button type="button" name="button">I wish someone would tell me what day it is!</button>
      <button type="button" name="button">I wish </button>
    </div>
  </container>
</section>
<p>Welcome to {{title}}</p>
