body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

container {
  max-width: 800px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 100px;
  width: 200px;
  background-color: red;
  display: inline;
}
